<div class="col-6 col-sm-3 my-4">
    <div class="card" style="width: 18rem;">
        <img src="{{fromage.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ fromage.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ fromage.category }}</h6>
            <p class="card-text text-right"> {{ fromage.price.toFixed(2) }} €</p>
            <a href="" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
</div>