<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1>Veuillez laissez vos coordonées pour livraison : </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Adresse Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Bitcheese@neuf.cru">
            </div>
        </form>
        <label for="exampleFormControlInput1">Identité</label>
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Prénom">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
          </div>
          <label for="exampleFormControlInput1">Adresse</label>
          <input type="text" class="form-control" placeholder="Adresse">
          <label for="exampleFormControlInput1"> </label>
          <input type="text" class="form-control" placeholder="Complèment d'adresse">
          <label for="exampleFormControlInput1"> </label>
          
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Ville">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Code Postal">
            </div>
          </div>
          
          <label for="exampleFormControlInput1"> </label>
          <label for="exampleFormControlInput1">Informations utiles</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <label for="exampleFormControlInput1"> </label>
          <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
    </div>
</section>
