<p class="hintNotFound">There is no secret here...</p>
<h1 class="notFound">404 not found</h1>

<div class="easteregg">
    <h1>BITE</h1>

    <p>exemple de commit</p>

    <h3>AllStars</h3>

    <h2>TestCommit</h2>

    <h1>Bravo Vincent!!</h1>

    <h2>J'suis le meilleur!!</h2>

    <h4>Nique vincent</h4>

    <p>Vincent a semé les racines du Mal en faisant un git add * ce qui l'a mené bien des années après à planter</p>

    <p>Ce 28 Novembre 2020, les gaines du mal ont germés. Elles qui furent plantées le 10 Novembre 2020. Balayant sur leur passage la logique des machines, et la raison de Hommes. Cette hégémonie a semé un chaos, que nul ne pouvait réparer. La seule solution enviagée était de partir, laisser le Mal à ses terres corrompues. Mais peux d'hommes avec un mince espoire ont alors tenté un assault final. Ils ont déverser l'Apocalypse sur ces terres infâmes. Le feu et à la destruction ont alors eu raison du Mal, le laissant encore en vie mais sans possibilité d'agir. Ses racines ont alors été déterrées, détruites et jeter dans un vide où plus jamais elles ne pourraient resurgir.</p>
    <p>Le nouveau monde naquit de ses cendres. Plus fort, plus vivace. Et les derniers Hommes n'eurent pas à chercher un nouveau foyer, loin des vices d'un monde corrompu.</p>
    <p>Pour le bien de l'Humanité, ne faite <strong>JAMAIS</strong> de GIT ADD *</p>
    <p>Bravo a Falikou, qui grace à ses pouvoirs de voyants a pu prédire la prophétie</p>
</div>