
    <div class="d-none d-lg-block col-lg-2 fixed-bottom side">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action"><a (click)="selectCategory('all')">Tout les fromages</a></li>
            <li class="list-group-item list-group-item-action"><a (click)="selectCategory('Brebis')">Brebis</a></li>
            <li class="list-group-item list-group-item-action"><a (click)="selectCategory('Chevre')">Chèvre</a></li>
            <li class="list-group-item list-group-item-action"><a (click)="selectCategory('Vache')">Vache</a></li>
            <li class="list-group-item list-group-item-action"><a (click)="selectCategory('Autre')">Autre</a></li>
        </ul>
    </div>
<div class="container">
     <div class="row">
        <div *ngFor="let fromage of cheeseList" id=Test>
            <div class="col-6 col-sm-3 my-4">
                <div class="card" style="width: 18rem;">
                    <img class="img-fromage w-75 h-50 p-3 mx-auto" src="/assets/images/{{fromage.image}}" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ fromage.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ fromage.category }}</h6>
                        <p class="card-text text-right"> {{ fromage.price.toFixed(2) }} €</p>
                        <button (click)="verifPanier(fromage)" class="btn btn-primary btn-block">Ajouter au panier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

