
    <div class="d-none d-lg-block col-lg-2 fixed-bottom side">
        <div class="list-group">
           <a class="list-group-item list-group-item-action" (click)="selectCategory('all')">Tout les fromages</a>
           <a class="list-group-item list-group-item-action" (click)="selectCategory('Brebis')">Brebis</a>
           <a class="list-group-item list-group-item-action" (click)="selectCategory('Chevre')">Chèvre</a>
           <a class="list-group-item list-group-item-action" (click)="selectCategory('Vache')">Vache</a>
           <a class="list-group-item list-group-item-action" (click)="selectCategory('Autre')">Autre</a>
        </div>
    </div>
<div class="container">
     <div class="row">
        <div *ngFor="let fromage of cheeseList" id=Test>
            <div class="col-6 col-sm-3 my-4">
                <div class="card" style="width: 18rem;">
                    <img class="img-fromage w-75 h-50 p-3 mx-auto" src="/assets/images/{{fromage.image}}" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ fromage.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ fromage.category }}</h6>
                        <p class="card-text text-right"> {{ fromage.price.toFixed(2) }} €</p>
                        <button (click)="verifPanier(fromage)" class="btn btn-primary btn-block">Ajouter au panier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

