<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Category</th>
                <th scope="col">Prix (unitaire)</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix (total)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fromage of panier">
                <th scope="row">{{ fromage.name }}</th>
                <td>{{ fromage.category }}</td>
                <td>{{ fromage.price.toFixed(2) }} €</td>
                <td>{{ fromage.quantite}}</td>
                <td>{{ (fromage.price * fromage.quantite).toFixed(2) }}<button (click)="ajoutFromage(fromage)">+</button><button (click)="suppressionFromage(fromage)">-</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
